body {
    background-color: #fff;
    font-family: "Poppins" , sans-serif;
    font-weight: 100;
    color: #000;
}

.navbar {
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 32px;
    color: #000;
    text-decoration: none;
}

.header-buttons {
    margin-left: auto;
    font-size: 26px;
}

.nav-item {
    color: #000;
    text-decoration: none;
    margin: 0 18px;
    transition: all 0.2s ease;
}

.nav-item:hover {
    color: brown;
    text-underline-offset: 1rem
}

.content-section {
    padding-left: 80px;
}

.hero-banner {
    color: #000;
    padding: 3em 0;
}

.hero-name {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 0px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.name-text {
    animation: slideIn 1s ease-out forwards;
    display: inline-block;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animation-1 {
    animation: slideIn1 1s ease-out forwards;
    display: inline-block;
}

.animation-2 {
    animation: slideIn1 1.2s ease-out forwards;
    /* transition-duration: 1s; */
    transition-delay: 1s;
    display: inline-block;
}

.animation-3 {
    animation: slideIn1 1.5s ease-out forwards;
    display: inline-block;
}

.animation-4 {
    animation: slideIn1 1.6s ease-out forwards;
    display: inline-block;
}

@keyframes slideIn1 {
    from {
        opacity: 0;
        transform: translateX(30%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn2 {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-description {
    /* max-width: 970px; */
    font-size: 18px;
    margin: 15px 0;
}

.hello-text {
    font-size: 18px;
}

.designation-text {
    color: brown;
}

.header-img {
    width: 100%;
    height: 80px;
}

.image-section {
    height: 400px;
    width: auto;
    flex-direction: row-reverse;
}

.footer-buttons {
    padding-top: 5.75em;
    padding-bottom: 3em;
}

.social-connect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    padding-bottom: 2.75em;
}

.social-icon {
    max-width: 48px;
    height: 48px;
}

.cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cta-heading {
    color: #000;
    text-align: center;
    letter-spacing: -.02em;
    font-size: 56px;
    line-height: 1;
    padding-bottom: 60px;
}

.btn-fadeIn {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 24px;
  color: black;
  overflow: hidden;
  transition: color 0.3s ease;
}

.btn-fadeIn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
  transition: bottom 0.4s ease;
  color: #fff;
}

.btn-fadeIn:hover::before {
  bottom: 0;
}

.btn-fadeIn span {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}

.btn-fadeIn:hover {
    text-decoration: none;
}

.btn-fadeIn:hover span {
  color: white;
}

.back-to-top-button {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 45px;
}

.back-to-top:hover {
    color: brown;
    text-decoration: none;
}

.block {
    width: 200px;
    height: 200px;
    background-color: red;
    transition: width 2s , height 2s ,   transform 2s;
}

.block:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}

.arrow {
    height: 36px;
    width: 36px;
    vertical-align: middle;
}

.back-to-top {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.about-section {
    padding-top: 3em;
}

.about-title {
    font-size: 48px;
    color: brown;
}

.about-me {
    font-size: 18px;
}
.text-section {
    padding: 2em 1em 2em 0 ;
}

.work-sec {
    padding: 2em 0;
    padding-left: 7em;
}

.job-position {
    margin-bottom: 20px;
}

.job-title {
    margin-bottom: 2px;
}
.job-year {
    padding-right: 30px;
    color: brown;
}

.job-company {
    font-size: 14px;
}

.experience-section {
    padding-top: 3em;
}

.experience-title {
    font-size: 48px;
    color: brown;
}

.nav {
    padding-top: 2em;
    font-size: 18px;
    justify-content: center;
    gap: 60px;
    padding-bottom: 15px;
}

.nav-tabs li a {
    color: #000;
    text-decoration: none;
}

.nav-tabs li a.active {
    color: white;
    padding-bottom: 17px;
    border-bottom: 2px solid brown;
}

.nav-tabs li.active {
    border: 1px solid brown;
    padding: 0 8px;
    background: brown;
}
.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;;
}

.tab-content {
    padding-top: 40px;
}

.work-items-list {
    margin-bottom: 0;
}
.work-item {
    font-size: 16px;
    padding-bottom: 6px;
}

.work-item::marker {
    color: brown;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 16px;
}

.logo-slot {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-slot img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.input-ele {
    border: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-bottom: 12px;
    padding: 4px 2px;
}

input::placeholder {
    color: #000;
}

textarea::placeholder {
    color: #000;
}

.btn {
    margin: 0 auto;
}